:root{
  --primary-color: #517fff;

  --dark-color: #232323;

  --text-color: #767676;
  --text-light-color: #bababa;

  --white-color: #ffffff;

  --border-light-color: #dcdcdc;
  --border-dark-color: #2a2e30;

  --bg-light-color: #fafdff;

  --box-shadow: 0 2px 6px -1px rgba(0,0,0, .16),0 4px 10px -1px rgba(0,0,0, .08) ;

  --border-radius-circle: 100%;
  --border-radius-md: 15px;
  --border-radius-lg: 25px;
  --border-radius-sm: 8px;
  --border-radius-xs: 4px;
  --border-radius: 2px;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-color: var(--bg-light-color);
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  box-sizing: border-box;
}