@import '../../styles/variables.scss';
main{
    margin-top: 32px;
}
.container{
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-title{
    width: 100%;
    max-width: 537px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 32px;
    .title{
        margin: 0;
        font-size: rem(28px);
        line-height: 32px;
        text-transform: capitalize;
    }
    &.center{
        justify-content: center;
    }
}

.list-wrapper{
    width: 100%;
    max-width: 504px;
    >ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        >li{
            background-color: var(--white-color);
            box-shadow: var(--box-shadow);
            border-radius: var(--border-radius-sm);
            padding: 0;
            overflow: hidden;
            &:not(:last-child){
                margin-bottom: 16px;
            }
            @media (min-width:540px) {
                &:not(:last-child){
                    margin-bottom: 32px;
                }
            }
        }
    }
}
