.emb-item {
  .item-name {
    font-size: rem(18px);
    font-weight: 600;
    padding: 10px 10px 0;
  }
  .steps-wrapper {
    padding: 0 0 16px;
    margin: 8px 0 0;
    overflow-x: auto;
    .item-steps {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      li {
        .step-item {
          position: relative;
          border: none;
          background-color: var(--white-color);
          padding: 0;
          padding-left: 32px;
          padding-right: 10px;
          line-height: 42px;
          white-space: nowrap;
          border-top: 1px solid var(--border-light-color);
          border-bottom: 1px solid var(--border-light-color);
          cursor: pointer;
          .text {
            position: relative;
            z-index: 5;
          }
          &:before {
            content: "";
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 30px;
            height: 30px;
            border-top: 1px solid var(--border-light-color);
            border-right: 1px solid var(--border-light-color);
            transform: rotate(45deg);
            transform-box: fill-box;
            transform-origin: 17px 37px;
            background-color: var(--white-color);
            z-index: 4;
          }
          &.active {
            background-color: var(--primary-color);
            color: var(--white-color);
            border-top: 1px solid var(--primary-color);
            border-bottom: 1px solid var(--primary-color);

            &:before {
              border-color: var(--primary-color);
              background-color: var(--primary-color);
            }
          }
        }
        &:last-child{
          .step-item{
            &:before{
              content: none;
            }
          }
        }
      }
    }
    @media (min-width:540px) {
      padding: 0;
      .item-steps{
        li{
          &:first-child{
            .step-item{
              border-bottom-left-radius: var(--border-radius-sm);
            }
          }
          &:last-child{
            .step-item{
              border-bottom-right-radius: var(--border-radius-sm);
            }
          }
        }
      }
    }
  }
}
